lab1/compareText
lab1/compareText.o
lab1/hello
lab1/hello.o
lab1/writeText
lab1/writeText.o
lab2/adder
lab2/adder.o
lab2/copy.s
lab2/subtract
lab2/subtract.o
lab3/calculator
lab3/calculator.o
lab3/calculator.s.save
lab3/notatki.txt
lab3/notatki.txt.save
